.buildControl {
	margin: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.label {
		width: 80px;
		padding: 10px;
		font-weight: bold;
	}

	button {
		display: block;
		font: inherit;
		margin: 0 5px;
		padding: 5px;
		width: 80px;
		border: 1px solid #AA6817;
		cursor: pointer;
		outline: none;

		&.more {
			background-color: #8F5E1E;
			color: white;

			&:hover, &:active {
				background-color: #99703F;
			}
		}

		&.less {
			background-color: #D39952;
			color: white;

			&:hover, &:active {
				background-color: #DAA972;
			}
		}
	}
}